{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12 bg-danger">
                <h1>{{ request.user }}</h1>
            </div>
            <div class="col-sm-9">
                <p>
                    {{ object.content }} <br>
                    {{ object.timestamp|timesince }} ago<br>
                </p> <hr>
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>  <!-- end containter -->

{% endblock content %}