{% extends "base.html" %}
{% block content %}

    <div class="container">
        {% include "tweets/search_form.html" %}
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <hr>
                {% for object in object_list %}
                    <div class="media">
                      <div class="media-body">
                            {{ object.content }} <br>
                            via {{ object.user }} | {{ object.timestamp|timesince }} ago | <a href="{{ object.get_absolute_url }}">View</a>
                      </div>
                    </div>
                    <hr>
                {% empty %}
                    {% if request.GET.q %}
                        <p>No tweets found</p>
                    {% else %}
                        <p>No tweets yet</p>
                    {% endif %}
                {%  endfor %}
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>  <!-- end containter -->

{% endblock content %}