{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "tweets/search_form.html" %}

                {% for object in object_list %}
                    <p>
                        {{ object.content }} <br>
                        {{ object.user }} <br>
                        {{ object.timestamp|timesince }} ago<br>
                    </p> <hr>
                {% empty %}
                    {% if request.GET.q %}
                        <p>No tweets found</p>
                    {% else %}
                        <p>No tweets yet</p>
                    {% endif %}
                {%  endfor %}
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>  <!-- end containter -->

{% endblock content %}